*
!*/

!.gitignore

!manuscript/manuscript.Rmd
!manuscript/manuscript.Rproj
!manuscript/manu_refs.bib
!manuscript/figures/*

!metadata/*
!metadata/figures/*
!metadata/raw_data/*
!metadata/made_data/*

!targeted/*
!targeted/made_data/longdata.csv

!untargeted/scripts/*
!untargeted/all_feats.csv
!untargeted/all_peaks.csv
!untargeted/output_control.Rmd
!untargeted/untargeted.Rproj
.Rproj.user
